node_modules/
dist/
dist-e2e/
dist-firefox/
dist-firefox-e2e/
*.zip
test/output/
.DS_Store
smart-dark-pdf-*/
app-dist/
app/public/pdfjs/
app/public/sample.pdf
release/
app/public/tts/
app/public/licenses/
app/public/ocr/
android/upload.keystore
*.keystore
ios-web/
